BASE_URL=http://localhost:3000

EMPTY_USER_EMAIL=your-email@example.com
EMPTY_USER_PASSWORD=your-password
EMPTY_USER_DISPLAY_NAME=your-display-name

DEMO_USER_EMAIL=demo-email@example.com
DEMO_USER_PASSWORD=demo-password
DEMO_USER_DISPLAY_NAME=demo-display-name